:root {
  --el-color-primary: #409eff;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--el-font-family);
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
} 